@charset "utf-8";

.npay_pointcolor{
    color: #00c73c !important;
}
.npay_storebtn_bx,
.npay_button_box,
.npay_button_box2,
.npay_storebtn_bx *,
.npay_button_box *,
.npay_button_box2 *{display:block !important;overflow:hidden !important;float:none !important;position:static !important;top:auto !important;left:auto !important;width:auto !important;height:auto !important;margin:0 !important;padding:0 !important;border:0 none !important;font-size:12px !important;line-height:16px !important;font-family:'돋움',Dotum,Helvetica,sans-serif !important;text-align:left !important;text-decoration:none !important;vertical-align:top !important;background:none !important;border-radius:0 !important}
.npay_storebtn_bx{display:inline-block !important}
.npay_button_box,
.npay_button_box2{width:auto !important;height:100% !important;*height:auto !important;zoom:1 !important;padding:0 4px !important;border-top:2px solid #2b2f3a !important;background-color:#fff !important}
.npay_button_box2{padding:0 !important}
.npay_button_box .npay_blind,
.npay_button_box .yellow, /* mall.chainflower.com 깜빡임 */
.npay_button_box .blue, /* mall.chainflower.com 깜빡임 */
.npay_button_box2 .npay_blind,
.npay_button_box2 .yellow
.npay_button_box2 .blue{overflow:hidden !important;position:absolute !important;width:1px !important;height:1px !important;margin:-1px !important;padding:0 !important;clip:rect(0 0 0 0) !important}
.npay_button{position:relative !important;margin:0 !important;padding:11px 0 11px 86px !important;zoom:1 !important}
.npay_text{display:block !important;*display:inline !important;position:absolute !important;top:11px !important;left:0 !important;width:79px !important;height:36px !important;margin:0 !important;padding:0 !important;background:url(../../images/button/renewal/npay_sp_text.png) no-repeat !important}
.npay_btn_list{*zoom:1 !important;display:table !important;width:100% !important;margin:0 !important;padding:0 !important;table-layout:fixed !important;list-style:none !important}
.npay_btn_list tbody{display:table-row-group !important}
.npay_btn_list tr{display:table-row !important}
.npay_store .npay_btn_list{table-layout:auto !important} /* F Type */
.npay_store .npay_btn_item{*width:120px !important}
.npay_btn_item{display:table-cell !important;height:37px !important;margin:0 !important;padding:0 !important;text-align:left !important}
.npay_btn_item.btn_width{width:40px !important}
.npay_store .npay_btn_item.btn_width{*width:78px !important}
.npay_btn_link{display:block !important;height:35px !important;margin:0 0 0 3px !important;padding:0 !important;border:1px solid #bfc4c7 !important;background-color:#fcfcfc !important;background-repeat:no-repeat !important;background-repeat:no-repeat !important;text-align:center !important;text-decoration:none !important}
.npay_btn_item:first-child .npay_btn_link{margin:0 !important}
.npay_btn_link.npay_btn_pay{background-image:url(../../images/button/renewal/npay_sp_payment.png) !important;background-position:50% 0 !important;background-repeat:no-repeat !important}
.npay_btn_link.btn_green{border-color:#00bd39 !important;background-color:#00c73c !important;background-position:50% -35px !important}
.npay_btn_link.npay_btn_zzim,
.npay_btn_link.npay_btn_talk{width:35px !important}
.npay_btn_link.npay_btn_cart,
.npay_btn_link.npay_btn_talk2{width:73px !important}
.npay_btn_link.npay_btn_zzim{background-image:url(../../images/button/renewal/npay_sp_zzim.png) !important;background-position:50% 0 !important;background-repeat:no-repeat !important}
.npay_btn_link.npay_btn_zzim2{background-image:url(../../images/button/renewal/npay_sp_zzim.png) !important;background-position:50% -105px !important;background-repeat:no-repeat !important}
.npay_btn_link.npay_btn_talk{background-image:url(../../images/button/renewal/npay_sp_talk.png) !important;background-position:50% 0 !important;background-repeat:no-repeat !important}
.npay_btn_link.btn_gray{border-color:#b1b5bd !important;background-color:#bbbfc7 !important}
.npay_btn_link.npay_btn_pay.btn_gray{background-position:50% -35px !important}
.npay_btn_link.npay_btn_zzim.btn_gray,
.npay_btn_link.npay_btn_talk.btn_gray{background-position:50% -35px !important}
.npay_btn_link.npay_btn_zzim2.btn_gray{background-position:50% -140px !important}
.npay_btn_link.npay_btn_cart{background-image:url(../../images/button/renewal/npay_sp_cart.png) !important;background-position:50% 0 !important;background-repeat:no-repeat !important}
.npay_btn_link.npay_btn_talk2{background-image:url(../../images/button/renewal/npay_sp_talk_text.png) !important;background-position:50% 0 !important;background-repeat:no-repeat !important}
.npay_btn_link.npay_btn_cart.btn_gray,
.npay_btn_link.npay_btn_talk2.btn_gray{background-position:50% -35px !important}

.npay_event{position:relative !important;margin:0 !important;padding:0 40px 0 0 !important;border:0 none !important;border-top:1px solid #eaecee !important}
.npay_event_text{display:block !important;*display:inline !important;overflow:hidden !important;*width:100% !important;margin:0 !important;padding:5px 0 !important;letter-spacing:0 !important;white-space:nowrap !important;*zoom:1 !important;text-overflow:ellipsis !important;word-wrap:normal !important}
.npay_event_text .event_title{display:inline !important;margin:0 5px 0 0 !important;padding:0 !important;font-weight:normal !important;color:#00bd39 !important;vertical-align:middle !important}
.npay_pointplus{
    position: relative !important;
    padding-left: 44px !important;
}
.npay_pointplus .event_title {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    width: 39px !important;
    height: 13px !important;
    margin-top: -7px !important;
    background: url("../../images/button/renewal/npay_sp_icon.png") no-repeat !important;
}
.npay_event .npay_event_text .event_link{display:inline !important;margin:0 !important;padding:0 !important;font-weight:normal !important;color:#727272 !important;text-decoration:none !important;vertical-align:middle !important}
.npay_event .npay_event_text .event_link span {
    display: inline-block !important;
    margin:-1px 0 1px !important;
    vertical-align: middle !important;
}
.npay_more{position:absolute !important;top:5px !important;width:16px !important;height:16px !important;margin:0 !important;padding:0 !important;background:url(../../images/button/renewal/npay_sp_more.png) no-repeat !important;text-decoration:none !important}
.npay_more_prev{right:15px !important;background-position:0 0 !important}
.npay_more_next{right:0 !important;background-position:-15px 0 !important}
.npay_bg_dgray{border-color:#5f5f5f !important;background-color:#434343 !important}
.npay_bg_dgray .npay_text{background-position:0 -40px !important}
.npay_bg_dgray .npay_event_text,
.npay_bg_dgray .npay_event_text .event_link{color:#959595 !important}
.npay_bg_dgray .npay_btn_link.btn_gray{border-color:#67696e !important;background-color:#6d6f74 !important}
.npay_bg_dgray .npay_btn_link.npay_btn_pay.btn_gray,
.npay_bg_dgray .npay_btn_link.npay_btn_talk.btn_gray,
.npay_bg_dgray .npay_btn_link.npay_btn_zzim.btn_gray{background-position:50% -72px !important}
.npay_bg_dgray .npay_btn_link.npay_btn_zzim2.btn_gray{background-position:50% -175px !important}

.npay_bg_dgray .npay_event{border-top-color:#565656 !important}
.npay_bg_dgray .npay_more_prev{background-position:0 -20px !important}
.npay_bg_dgray .npay_more_next{background-position:-15px -20px !important}
.npay_vertical .npay_button{padding:30px 0 14px !important}
.npay_vertical .npay_btn_item{height:33px !important}
.npay_vertical .npay_btn_item.btn_width{width:36px !important}
.npay_vertical .npay_btn_link{height:31px !important}
.npay_vertical .npay_btn_link.npay_btn_zzim,
.npay_vertical .npay_btn_link.npay_btn_talk{width:31px !important}
.npay_vertical .npay_btn_link.npay_btn_pay{background-image:url(../../images/button/renewal/npay_sp_payment2.png) !important;background-repeat:no-repeat !important}
.npay_vertical .npay_btn_link.npay_btn_talk{background-image:url(../../images/button/renewal/npay_sp_talk2.png) !important;background-repeat:no-repeat !important}
.npay_vertical .npay_btn_link.npay_btn_zzim2{background-image:url(../../images/button/renewal/npay_sp_zzim2.png) !important;background-repeat:no-repeat !important}
.npay_vertical .npay_btn_link.btn_green,
.npay_vertical .npay_btn_link.npay_btn_pay.btn_gray,
.npay_vertical .npay_btn_link.npay_btn_talk.btn_gray{background-position:50% -31px !important}
.npay_vertical.npay_bg_dgray .npay_btn_link.btn_gray{background-position:50% -64px !important}
.npay_vertical .npay_btn_link.npay_btn_zzim2{background-position:50% -93px !important}
.npay_vertical .npay_btn_link.npay_btn_zzim2.btn_gray{background-position:50% -124px !important}
.npay_vertical.npay_bg_dgray .npay_btn_link.npay_btn_zzim2.btn_gray{background-position:50% -155px !important}
.npay_vertical .npay_text{top:13px !important;width:114px !important;height:9px !important;background-position:0 -80px !important}
.npay_vertical .npay_btn_margin{margin-top:3px !important}
.npay_vertical .npay_event_text{white-space:normal !important;text-overflow:clip !important}
.npay_vertical .npay_event_text .event_link span{
    display: inline !important;
    vertical-align: top !important;
}
.npay_vertical .npay_pointplus{
    padding: 5px 0 !important;
}
.npay_vertical .npay_pointplus .event_title{
    display: inline-block !important;
    position: relative !important;
    top: -1px !important;
    margin: 0 4px 0 0 !important;
    vertical-align: middle !important;
}
.npay_vertical.npay_bg_dgray .npay_text{background-position:0 -110px !important}
.npay_vertical2 .npay_button{padding:28px 0 0!important}
.npay_vertical2 .npay_text{top:11px !important}
.npay_vertical2 .npay_event{border:0 none !important}
.npay_vertical2 .npay_event_text{line-height:14px !important}
.npay_horizontal .npay_text{top:14px !important;left:1px !important;background-position:0 -180px !important;width:170px !important;height:10px !important}
.npay_horizontal .npay_button{padding-left:192px !important}
.npay_horizontal .npay_event{width:135px !important;border-top:none !important;margin-top:-35px !important;padding-right:36px !important}

.npay_type_A_1{width:236px !important;height:88px !important}
.npay_type_A_2{width:285px !important;height:88px !important}
.npay_type_B_1{width:214px !important;height:83px !important}
.npay_type_B_2{width:261px !important;height:83px !important}
.npay_type_C_1_1,.npay_type_C_2_1{width:225px !important;height:88px !important}
.npay_type_C_1_2,.npay_type_C_2_2{width:272px !important;height:88px !important}
.npay_type_C_3_1{width:225px !important;height:92px !important}
.npay_type_C_3_2{width:272px !important;height:92px !important}
.npay_type_D_1_1,.npay_type_D_2_1{width:210px !important;height:83px !important}
.npay_type_D_1_2,.npay_type_D_2_2{width:251px !important;height:83px !important}
.npay_type_D_3_1{width:210px !important;height:87px !important}
.npay_type_D_3_2{width:251px !important;height:87px !important}
.npay_type_E_1_1,.npay_type_E_1_2,.npay_type_E_2_1,.npay_type_E_2_2{width:124px !important;height:135px !important}
.npay_type_E_3_1,.npay_type_E_3_2{width:124px !important;height:139px !important}
.npay_type_F{width:365px !important;height:115px !important}
.npay_type_G{width:394px !important;height:60px !important}


/* IE5용 */
.npay_type_E_1_1 .npay_btn_link.npay_btn_pay.btn_gray,
.npay_type_E_1_1 .npay_btn_link.npay_btn_talk.btn_gray,
.npay_type_E_1_2 .npay_btn_link.npay_btn_pay.btn_gray,
.npay_type_E_1_2 .npay_btn_link.npay_btn_talk.btn_gray{*background-position:50% -31px !important}

.npay_type_C_3_1 .npay_vertical.npay_bg_dgray .npay_text,
.npay_type_D_3_1 .npay_vertical.npay_bg_dgray .npay_text,
.npay_type_C_3_2 .npay_vertical.npay_bg_dgray .npay_text,
.npay_type_D_3_2 .npay_vertical.npay_bg_dgray .npay_text{*background-position:0 -40px !important}

.npay_type_C_3_1 .npay_bg_dgray .npay_btn_link.npay_btn_pay.btn_gray,
.npay_type_C_3_1 .npay_bg_dgray .npay_btn_link.npay_btn_talk.btn_gray,
.npay_type_C_3_1 .npay_bg_dgray .npay_btn_link.npay_btn_zzim.btn_gray,
.npay_type_D_3_1 .npay_bg_dgray .npay_btn_link.npay_btn_pay.btn_gray,
.npay_type_D_3_1 .npay_bg_dgray .npay_btn_link.npay_btn_talk.btn_gray,
.npay_type_D_3_1 .npay_bg_dgray .npay_btn_link.npay_btn_zzim.btn_gray,
.npay_type_C_3_2 .npay_bg_dgray .npay_btn_link.npay_btn_pay.btn_gray,
.npay_type_C_3_2 .npay_bg_dgray .npay_btn_link.npay_btn_talk.btn_gray,
.npay_type_C_3_2 .npay_bg_dgray .npay_btn_link.npay_btn_zzim.btn_gray,
.npay_type_D_3_2 .npay_bg_dgray .npay_btn_link.npay_btn_pay.btn_gray,
.npay_type_D_3_2 .npay_bg_dgray .npay_btn_link.npay_btn_talk.btn_gray,
.npay_type_D_3_2 .npay_bg_dgray .npay_btn_link.npay_btn_zzim.btn_gray{*background-position:50% -70px !important}