.bxslider_slide03_wrapper {	position: relative;	margin: 0 auto 0px;	padding: 0;	*zoom: 1;border:0px solid #e9e9e9;width:100%;padding:0px 0; background:#fff;}
.bxslider_slide03_wrapper h2 {margin:0 auto 30px;text-align:center; font-size:12px;}
.bxslider_slide03_wrapper h2 span {padding:0 0 10px;border-bottom:1px solid #ccc; }
.bxslider_slide03_wrapper .bx-wrapper  {width:100%;margin:0px auto;}
.bxslider_slide03_wrapper .bx-wrapper .bxslider_slide03 li {}
.bxslider_slide03_wrapper .bx-wrapper .bxslider_slide03 .thumb  {width:100%;margin:0 0 10px;}

.bxslider_slide03_wrapper .bx-wrapper .bxslider_slide03 .box {}
.bxslider_slide03_wrapper .bx-wrapper .bxslider_slide03 .box .name { padding:10px 0px 5px 0;text-align:center; width:100%;}
.bxslider_slide03_wrapper .bx-wrapper .bxslider_slide03 .box .price { padding:0px 0px 5px 0;text-align:center; width:100%;}


/* PAGER */
.bxslider_slide03_wrapper .bx-wrapper .bx-pager {	text-align: center;	font-size: .85em;	font-family: Arial;	font-weight: bold;	color: #666;	padding-top: 40px;}
.bxslider_slide03_wrapper .bx-wrapper .bx-pager .bx-pager-item,
.bxslider_slide03_wrapper .bx-wrapper .bx-controls-auto .bx-controls-auto-item {	display: inline-block;	*zoom: 1;	*display: inline;}
.bxslider_slide03_wrapper .bx-wrapper .bx-pager.bx-default-pager a {	background: #e9e9e9;	text-indent: -9999px;	display: block;	width: 6px;	height: 6px;	margin: 0 5px;	outline: 0;	-moz-border-radius: 3px;	-webkit-border-radius: 3px;	border-radius: 3px;}
.bxslider_slide03_wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bxslider_slide03_wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {	background: #555;}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bxslider_slide03_wrapper .bx-wrapper .bx-prev {	opacity:0;left: 100px;	background: url('/web/season2_skin/skin13/images/control_img_01.png') no-repeat 0 0;}
.bxslider_slide03_wrapper .bx-wrapper .bx-next {	opacity:0;right: 100px;	background: url('/web/season2_skin/skin13/images/control_img_02.png') no-repeat 0 0;}
.bxslider_slide03_wrapper .bx-wrapper .bx-prev:hover {	opacity:1;}
.bxslider_slide03_wrapper .bx-wrapper .bx-next:hover {	opacity:1;}
.bxslider_slide03_wrapper:hover .bx-wrapper .bx-prev {display:block;opacity:1;left:-80px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.bxslider_slide03_wrapper:hover .bx-wrapper .bx-next {display:block;opacity:1;right:-80px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.bxslider_slide03_wrapper .bx-wrapper .bx-controls-direction a {	position: absolute;	top: 30%;	margin-top: -16px;	outline: 0;	width: 80px;	height: 80px;	text-indent: -9999px;	z-index: 99;}
.bxslider_slide03_wrapper .bx-wrapper .bx-controls-direction a.disabled {	display: none;}





